VITE_PUBLIC_SUPABASE_URL="https://lenelhluvepajmuueard.supabase.co"
VITE_PUBLIC_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlbmVsaGx1dmVwYWptdXVlYXJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1NDMyMzMsImV4cCI6MjA3OTExOTIzM30.VgohPXR2qHZ9MM6tTBxJG3rf984FZ3Hh-_UnbYmB58E"
VITE_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_inJqvhLcFekibmY5KXd9Mg_GxqAjBtG"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlbmVsaGx1dmVwYWptdXVlYXJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzU0MzIzMywiZXhwIjoyMDc5MTE5MjMzfQ.H41yicRkQ2bTiS-UrZTqc81IOVsEQuh6eSc7ntcwW1g"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_c1hxfNUlG8jbZ3wb_YLgxj7zgsPJkpOpoJ3nNdvWQ81So0v"
VITE_PUBLIC_APP_URL="http://localhost:3000"
